<html>
  <head>
  </head>
  <body>
    <h1>Ricardo Salcido</h1>
    <h2>SOFTWARE ENGINEER</h2>

    <p>A Junior Web Developer proficient in front-end and back-end technologies. 
      An alumnus of Vanderbilt University Boot Camp skilled in HTML5, CSS3, JavaScript, Ruby, Ruby on Rails, jQuery, Bootstrap, Express.js, React.js, Node.js, MERN Stack, Database Theory, MySQL, Command Line, Deployment (Heroku, Git), and Quality Assurance (Writing Tests). 
      With a demonstrated history of working in the logistics and supply chain industry as an Inventory Management Specialist, a versatile professional fluent in both business and technology. </p>
  </body>
</html>